* {
    background-color: lightslategrey;
}

body {
    font-family: sans-serif;
    font-size: 20pt;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}